.cell {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  gap: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

.cellInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.cellOutput {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.cellActive {
  background-color: #2196f3;
  height: 100%;
  width: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.cellInactive {
  background-color: transparent;
  height: 100%;
  width: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.cellContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.cellControl {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border: 1px solid transparent;
}

.cellCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

.controlIcon {
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 2px;
}

.controlIcon:hover {
  background-color: #4e4e4e;
}

.codeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 0.5rem;
  width: 100%;
  height: 100%;
  border: 1px solid #4e4e4e;
  cursor: text;
}

.textarea {
  width: 100%;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  resize: none;
  border: none;
  outline: none;
}

.outputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 2px;
}

.outputIcon {
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  border-radius: 2px;
}

.outputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.outputContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .outputContent {
    padding-left: 0rem;
  }

  .outputContainer {
    padding-left: 0rem;
  }
}

@media (prefers-color-scheme: light) {
  .cell {
    background-color: #fff;
    border: 1px solid transparent;
  }

  .cellActive {
    background-color: #ec7424;
  }

  .cellActive:hover {
    background-color: #d0661f;
  }

  .cellInactive {
    background-color: #ffffff;
  }

  .codeContainer {
    background-color: #fff;
  }

  .outputContent {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  .cell {
    background-color: #000000;
    border: 1px solid transparent;
  }

  .cellActive {
    background-color: #2196f3;
  }

  .cellActive:hover {
    background-color: #1e83d6;
  }

  .cellInactive {
    background-color: #000000;
  }

  .codeContainer {
    background-color: #212121;
    border: 1px solid #4e4e4e;
  }

  .outputContent {
    background-color: #000000;
  }
}
