.controlBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  width: 100%;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.controlBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 75%;
}

.controlComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  cursor: pointer;
  padding: 0px 2px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.controlIcon {
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 2px;
}

.controlSelect {
  border: none;
  outline: none;
}

.kernelSettingsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 30%;
  height: 100%;
}

.sourceCodeRedirectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  width: 20%;
  height: 100%;
}

.sourceCodeRedirectText {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sourceCodeRedirectIcon {
  width: 1rem;
  height: 1rem;
}

.pythonItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100%;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 40%;
  height: 100%;
}

@media (max-width: 1200px) {
  .controlBarContent {
    width: 90%;
  }

  .kernelSettingsContainer {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .controlBarContent {
    width: 100%;
  }

  .kernelSettingsContainer {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .kernelSettingsContainer {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .sourceCodeRedirectContainer {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .kernelSettingsContainer {
    display: none;
  }

  .sourceCodeRedirectContainer {
    width: 30%;
  }
}

@media (prefers-color-scheme: light) {
  .controlBarContainer {
    background-color: #ffffff;
  }

  .controlIcon {
    color: #000000;
  }

  .controlIcon:hover {
    background-color: #f5f5f5;
  }

  .controlSelect {
    background-color: #ffffff;
    color: #000000;
  }

  .pythonItem:hover {
    background-color: #f5f5f5;
  }

  .sourceCodeRedirectContainer:hover {
    background-color: #f5f5f5;
  }
}

@media (prefers-color-scheme: dark) {
  .controlBarContainer {
    background-color: #212121;
    color: #ffffff;
    border-bottom: 1px solid #323232;
  }

  .controlSelect {
    background-color: #212121;
    color: #ffffff;
  }

  .controlIcon:hover {
    background-color: #4e4e4e;
  }

  .pythonItem:hover {
    background-color: #4e4e4e;
  }

  .sourceCodeRedirectContainer:hover {
    background-color: #4e4e4e;
  }
}
