.projectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.projectPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.projectPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.projectPageTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: lighter;
  width: 100%;
  height: 100%;
}

.projectPageItemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.projectPageItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .projectPageContainer {
    width: 90%;
  }
}

@media (prefers-color-scheme: light) {
  .projectPageContainer {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  .projectPageContainer {
    background-color: #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}
