.titleBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
}

.titleBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 100%;
}

.nameComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.profileImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profileImage {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: text;
  height: 100%;
}

.lastCheckpoint {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.githubIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.githubIconLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.githubIcon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .titleBarContent {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .titleBarContent {
    width: 100%;
  }

  .profileImageContainer {
    margin-left: 1rem;
  }

  .githubIconContainer {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .name {
    font-size: 13px;
  }

  .lastCheckpoint {
    display: none;
  }

  .githubIconContainer {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .titleBarContainer {
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
  }

  .name:hover {
    background-color: #f0f0f0;
  }
}

@media (prefers-color-scheme: dark) {
  .titleBarContainer {
    background-color: #212121;
    border-bottom: 1px solid #606060;
    color: #ffffff;
  }

  .name:hover {
    background-color: #424242;
  }
}
