:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 4px;
  transition: background-color 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #64b5f6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #323232;
  }
  a:hover {
    color: #64b5f6;
  }
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  src: url("../src/assets/fonts/montserrat/Montserrat-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: "semibold";
  font-weight: 600;
  src: url("../src/assets/fonts/montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: url("../src/assets/fonts/montserrat/Montserrat-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: "extrabold";
  font-weight: 800;
  src: url("../src/assets/fonts/montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: "black";
  font-weight: 900;
  src: url("../src/assets/fonts/montserrat/Montserrat-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../src/assets/fonts/montserrat/Montserrat-Italic.ttf")
    format("truetype");
}

* {
  font-family: "Montserrat", sans-serif;
}
