.BlogCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.25s;
}

.BlogCard:hover {
  transform: scale(1.01);
}

.BlogCardImage {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.BlogCardInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.BlogCardInfoTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  font-weight: 600;
  text-wrap: wrap;
  padding: 1rem;
}

.BlogCardInfoDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 1rem;
}

.BlogCardDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-weight: 400;
}

.BlogCardInfoReadMoreAnchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  height: 3rem;
  border-radius: 0.75rem;
  text-decoration: none;
}

.BlogCardInfoReadMoreText {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .BlogCardImage {
    height: 10rem;
  }

  .BlogCardInfoTitle {
    font-size: 1.5rem;
  }

  .BlogCardInfoDescription {
    font-size: 1.25rem;
  }

  .BlogCardDate {
    font-size: 1rem;
  }

  .BlogCardInfoReadMoreAnchor {
    height: 3rem;
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .BlogCard {
    background-color: #f5f5f5;
  }

  .BlogCardInfoReadMoreAnchor {
    background-color: #e2e2e2;
    color: #000;
  }

  .BlogCardInfoReadMoreAnchor:hover {
    color: #424242;
    background-color: #cdcdcd;
  }

  .BlogCardInfoTag {
    background-color: #d1d1d1;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  .BlogCard {
    background-color: #212121;
  }

  .BlogCardInfoReadMoreAnchor {
    background-color: #323232;
    color: #fff;
    transition: all 0.25s;
  }

  .BlogCardInfoReadMoreAnchor:hover {
    background-color: #424242;
    color: #fff;
  }

  .BlogCardInfoTag {
    background-color: #424242;
    color: #ffffff;
  }
}
